@import "../_custom.scss";
@mixin colorTheme(
  $project_primary: #{$primary},
  $project_secondary: #{$secondary}
) {
  --bs-link-color: #{$project_primary};
  --bs-link-color-rgb: #{to-rgb($project_primary)};
  --bs-link-hover-color: #{$project_primary};
  --bs-link-hover-color-rgb: #{to-rgb($project_primary)};

  --bs-primary: #{$project_primary};
  --bs-primary-text: #{$project_primary};
  --bs-primary-rgb: #{to-rgb($project_primary)};

  --bs-primary-bg-subtle: #{tint-color($project_primary, 80%)};
  --bs-primary-border-subtle: #{tint-color($project_primary, 80%)};

  --bs-secondary: #{$project_secondary};
  --bs-secondary-text: #{$project_secondary};
  --bs-secondary-rgb: #{to-rgb($project_secondary)};
  --bs-secondary-bg-subtle: #{tint-color($project_secondary, 80%)} !important;
  --bs-secondary-border-subtle: #{tint-color($project_secondary, 80%)} !important;
  @include color-mode(dark) {
    --bs-secondary-bg-subtle: #{tint-color($project_secondary, 80%)} !important;
    --bs-secondary-border-subtle: #{tint-color($project_secondary, 80%)} !important;
    --bs-primary-bg-subtle: #{tint-color($project_primary, 80%)};
    --bs-primary-border-subtle: #{tint-color($project_primary, 80%)};
  }
}

// theme color for theme-color-1/project-1
[data-bs-theme="theme-color-1"] {
  @include colorTheme($project_primary: #21b3a3, $project_secondary: #82ac3f);
}
// theme color for theme-color-2/project-2
[data-bs-theme="theme-color-2"] {
  @include colorTheme($project_primary: #c81438, $project_secondary: #e0b637);
}

@each $key, $val in $theme-colors {
  .fill-#{$key} {
    fill: var(--bs-#{$key}) !important;
  }
  .stroke-#{$key} {
    stroke: var(--bs-#{$key}) !important;
  }
  @include color-mode(dark) {
    @if $key == "dark" or $key == "black" {
      .fill-#{$key} {
        fill: $white !important;
      }
      .stroke-#{$key} {
        stroke: $white !important;
      }
    }
    // @else if $key == "white" or $key == "white" {
    //   .fill-#{$key} {
    //     fill: $white !important;
    //   }
    //   .stroke-#{$key} {
    //     stroke: $white !important;
    //   }
    // }
  }
}
