@import "../_custom.scss";

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}

p:last-child {
  margin: 0;
}

a {
  text-decoration: none !important;
}

a,
svg,
input,
button,
:after,
textarea,
:before,
img,
span {
  @include transition;
}
